body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
    color: white;
    font-family: 'Mulish';
    font-style: normal;
    cursor: pointer;
}

a,
h1,
h2,
h3,
h4 {
    font-family: 'Mulish';
    font-style: normal;
    color: #001A49;
}

.purpur--color {
    background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
}

.h3--logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    padding-left: 12px;
}

.a--link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.a--link:hover {
    color:#CD10FF;
}