.container_for_header {
    display: flex;
    justify-content: space-between;  
    flex: 1; 
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.box-logo {
    display: flex;
    align-items: center;
    padding-right: 41px;
}

.box-navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.course-topics__what-students-say {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
}



.button_in_header {
    width: 147px;
    height: 50px;
    border-radius: 33px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-left: 42px;
}

.button_in_header:hover {
    background: linear-gradient(44.11deg,rgb(0, 26, 73) 15.75%,rgb(3, 41, 110) 84.63%);
    color: rgb(146, 146, 146);
    transition: 15s;
}

@media screen and (max-width: 950px) {
    .container_for_header {
        flex-direction: column;
    }

    .box-logo {
        padding-right: 0;
        justify-content: center;
    }

    .paddin_in_breakpoint__for_sing-in {
        padding-left: 55px;
    }

    .box-navigation {
        width: auto;
    }
}

